.btn-previous {
    all: unset;

    width: 18vw;
    max-width: 200px;
    padding: 0.5vw 2vw;
    margin: 2vw;
    color: #ffffff;

    cursor: pointer;

    background-color: #88abe0;
    box-shadow: 0 2px 3px 0 grey;
    border: silver solid 1px;
    border-radius: 5px;
}

.btn-previous:hover {
    background-color: #0b8cfd;
}